/* FUNCIONA CORRECTAMENTE */

body {
    margin: 0; /* Asegúrate de que no haya márgenes inesperados */
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('imagenes/fondo.jpg');
}

/* Estilo para la cabecera */
.head {
    width: 100%;
}

.head img {
    width: 100%;
    object-fit: cover;
}

/* Contenedor principal para centrar el contenido */
.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Estilo para organizar las columnas */
.columnas {
    display: flex;
    justify-content: center; /* Centrar columnas horizontalmente */
    width: 70%;
    margin-bottom: 40px;
}

/* Configurar el ancho igual para las columnas 1 y 2 */
.columna1, .columna2 {
    flex: 1;
    margin: 0 20px;
    max-width: 600px; /* Limitar el ancho máximo para mejor visualización */
}

/* Estilos para los títulos de las secciones */
.titulo-seccion {
    text-align: center; /* Centrar el texto del título */
    width: 65%;
    margin-bottom: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
}

/* Estilos generales para los formularios */
form ul {
    list-style: none;
    padding: 0;
}

form ul li {
    margin-bottom: 15px;
}

/* Asegurar que los inputs ocupen todo el ancho disponible */
form input[type="text"], 
form input[type="tel"], 
form input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    font-family: Arial, sans-serif;
}

/* Estilo para los placeholders */
input::placeholder,
textarea::placeholder {
    font-family: Arial, sans-serif;
}

/* Alineación vertical de los elementos en cada `li` */
li {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* Ajuste de los labels para alinearse en columna */
label {
    margin-bottom: 5px;
}

form select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    font-family: Arial, sans-serif;
}

/* Estilo para el botón de envío */
input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    display: block; /* Asegura que el botón esté en una línea separada */
    margin-left: auto;
    margin-right: auto;
}

/* Estilo responsivo */
@media (max-width: 768px) {
    .columnas {
        flex-direction: column;
        align-items: center;
    }

    .columna1, .columna2 {
        width: 100%;
        margin: 10px 0;
        max-width: none; /* Permitir el ancho completo en pantallas pequeñas */
    }

    .titulo-seccion {
        width: 100%;
        text-align: center;
    }
}
